/*! SIT v1.0.0 | SIT License | http://hamdouni.github.com/ */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {border:0;margin: 0;padding: 0;}
body,input{font-size: 18px;}
header,footer {
    background-color: #eee;
    padding: 1%;margin: 0;display: block;width: 100%;
}
footer {position: fixed; bottom: 0;}
.main {text-align: center;}
input[type="text"] {
    padding: 8px 12px;
}